
body{
    margin: 20px;
    .main-font;
    .main-background;
}  //closes body 


.title-container{
    height: 50vh;
    //width: 90%;
    background-image: url("../assets/home.png");
    background-repeat: no-repeat;
    background-size: cover;
    .flexIt(column, center, center);
    
    @media @mobile {
        height: 30vh;
    }
    h1{
        font-size: 30px;
        color: white;
        width: 30%;
        text-align: center;
        margin: 5px;

        @media @mobile{
            width: 40%;
        }
    }//closes h1
    
    button{
       .custom-bttn(black, 1% 2%, 3px); 
        
    }//closes button
}//closes title container




.artists-container{
    .flexIt(row, space-evenly, flex-start);

    @media @mobile{
        .flexIt(column, space-evenly, center);
    }
    
    img{
        width: 250px;
        height: 150px;
        padding: 40px 0px;
    }//closes img

    img:hover{
        opacity: 0.8;
    }
    .artist{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        
        @media @mobile{
            width: 80%;
            line-height: 1.2rem;
        }
        
        a{
            text-decoration: none;
            color: black;
            line-height: 2rem;
            padding: 2%;
            font-size: 1.5rem;
        }
        
        .bio{
            line-height: 1.2rem;
            margin: 2px;
            text-align: center;
        }
    }//closes artist

   
}//closes artist container  

    

    

