nav{
    .flexIt(row, center, center);
    padding: 2%;
    
    a{
        text-decoration: none;
        color: black;
        padding: 0.5%;
        border-right: 1px solid black;
        line-height: 1.5rem;
    }
}